<div class="index__billboard">
  <h1>Marionette <span>Quickhaq</span></h1>
  <p>An stripped down, opinionated starter application built with <a href="http://marionettejs.com/">Marionette.js</a>.</p>
  <p>Source code at <a href="https://github.com/mindhaq/marionette-quickhaq">GitHub</a>.</p>
</div>
